.body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page-wrapper {
    background-color: #F5F5F5;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
}
/*Mover el dato del formulario a la izquierda*/
.lft{
    text-align: left;
    width: 100%;
}
.Container{
    background-color: #D9D9D9;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width:60%;
    height: 55%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 20px;
    font-size: 36px;
}
input {
    padding: 10px;
    margin: 10px 0;
    width: 240px;
    border: 1px solid #fff;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px;
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 280px;
    cursor: pointer;
}