/* Metricas Productos Specific Styles */

/* Sección Periodo */
.periodo-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.date-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

/* Inputs de fecha estilo "Split" */
.date-group {
    display: flex;
    gap: 10px;
}

.date-input-box {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    width: 120px; /* Ancho para DD y MM */
    font-size: 14px;
}

.selecter{
    width: 100%;
    height: 7%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

/* Tabla */
.tabla-container {
    margin-top: 50px;
}

/* Gráfica */
.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin-top: 20px;
}