body {
        background-color: #F5F5F5; /* Fondo gris claro */
        font-family: 'Roboto', sans-serif;
        color: #333;
}

/* Navbar Superior */
.custom-navbar {
    padding: 30px 0;
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: 500;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

/* Estilo para el item activo (Metricas) */
.nav-item.active a {
    background-color: #E0E0E0;
    border-radius: 8px;
    font-weight: 700;
}

        /* Sub Header (Ventas / Productos) */
.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%; /* Margen lateral para centrar visualmente */
    margin-bottom: 40px;
}

.sub-title {
    font-size: 24px;
}

.sub-title a {
    text-decoration: none;
    color: #333;
}

/* Estilo botón Ventas */
.active-sub a {
    background-color: #E0E0E0;
            padding: 10px 20px;
            border-radius: 8px;
            font-weight: 500;
        }
        
        /* Contenedor Principal */
.Main-Container {
    padding: 0 5%;
    padding-bottom: 50px;
}

/* Sección Periodo */
.periodo-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.date-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

/* Inputs de fecha estilo "Split" */
.date-group {
    display: flex;
    gap: 10px;
}

.date-input-box {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    width: 120px; /* Ancho para DD y MM */
    font-size: 14px;
}
.selecter{
    width: 100%;
    height: 7%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}
        

/* Tabla */
.tabla-container {
    margin-top: 50px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #888;
}

.custom-table th {
    background-color: #EAEAEA;
    padding: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid #888;
    width: 50%;
}

.custom-table td {
    background-color: #EAEAEA; /* Fondo gris en celdas vacías */
    height: 50px;
    border: 1px solid #888;
}

/* Gráfica */
.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin-top: 20px;
}