<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Front/Public/Css/Login.css">
</head>
<body>
    <div class="Container">
    <h1>Inicio de Sesión</h1>
    <form action="">
        <input class="input" type="email" id="email" placeholder="Correo Electronico" name="email">
        <br>
        <input class="input" type="password" id="password" placeholder="Contraseña" name="password">
        <br>
        <button class="button" type="submit">Iniciar Sesión</button>
    </form>
    </div>
    <script src="/Front/Public/Js/Login.js"></script>
</body>
</html>