<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <title>Proveedores</title>
    <link rel="stylesheet" href="/Front/Public/Css/Promociones.css">
</head>
<body>
    <script src="/Front/Public/Js/toolbar.jsx"></script>
    <header>
        <nav class="custom-navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="/Front/View/Usuarios">Usuarios</a></li>
                <li class="nav-item"><a href="/Front/View/Proveedores">Proveedores</a></li>
                <li class="nav-item"><a href="/Front/View/Ventas">Ventas</a></li>
                <li class="nav-item"><a href="/Front/View/Inventario">Inventario</a></li>
                <li class="nav-item active"><a href="/Front/View/Promociones">Promociones</a></li>  
                <li class="nav-item"><a href="/Front/View/Clientes">Clientes</a></li>  
                <li class="nav-item"><a href="/Front/View/Metricas">Métricas</a></li>  
            </ul>
        </nav>
    </header>
    <div class="Main-Container">
        <div class="Table-Wrapper">
            <table class="table table-bordered Custom-Table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Periodo</th>
                        <th>Descuento</th>
                        <th>Productos</th>
                        <th>Acciones</th> </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Navidad</td> 
                        <td>3 meses</td>
                        <td>20%</td>
                        <td>Frutas </td>
                        <td class="Action-Buttons">
                            <button class="button_replay">Repetir</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="Action-Buttons">
                            <button class="button_replay">Repetir</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="Action-Buttons">
                            <button class="button_replay">Repetir</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="Action-Buttons">
                            <button class="button_replay">Repetir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="Tools_Container">
            <button class="button_add" data-bs-toggle="modal" data-bs-target="#AddModal"><i class="bi bi-plus-lg">Agregar</i></button>
            <button class="button_add" data-bs-toggle="modal" data-bs-target="#CumpleañosModal">Cumpleaños</i></button> 
        </div>
    </div>

<div class="modal fade" id="AddModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content Custom-Modal-Style"> 
            <div class="modal-body p-0">
                <h2 class="text-center">Agregar Promocion</h2>
                
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Value">
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Descripcion</label>
                            <textarea class="form-control" placeholder="Value"></textarea>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Clientes con acceso</label>
                                <select class="form-select">
                                    <option selected>Value</option>
                                    <option value="1">Premium</option>
                                    <option value="2">Todos</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Porcentaje de Descuento</label>
                                <input type="text" class="form-control" placeholder="Value">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-end mb-4">
                        <div class="col-md-6">
                            <label class="form-label">Activo hasta</label>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control text-center" placeholder="DD">
                                <input type="text" class="form-control text-center" placeholder="MM">
                                <input type="text" class="form-control text-center" placeholder="YYYY">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Producto</label>
                            <select class="form-select">
                                <option selected>Value</option>
                            </select>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-dark-custom">Agregar Promocion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CumpleañosModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content Custom-Modal-Style"> 
            <div class="modal-body p-0"></div>
            <h2 class="text-center">Modificar promocion de cumpleaños</h2>
            <form>
                <div class="mb-3">
                    <label class="form-label">Tipo de promocion</label>
                    <select class="form-select">
                        <option selected>Value</option>
                        <option value="1">Regalo</option>
                        <option value="2">Descuento</option>
                        <option value="3">Producto gratis</option>
                        <option value="4">Multiplicar puntos</option>
                    </select>
                </div>
                <div class="row mb-3">
                    <div class=" col-6" >
                        <label class="form-label">Gasto minimo</label>
                        <input type="number" class="form-control" placeholder="Value">
                    </div>
                    <div class=" col-6">
                        <label class="form-label">Descuento</label>
                        <input type="number" class="form-control" placeholder="Value">
                    </div>
                </div>
                <div>
                    <button type="submit" style="margin-top: 20px;" class="btn btn-dark-custom">Modificar promocion de cumpleaños</button>
                </div>
            </form>
        </div>

    </div>

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>