<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <title>Proveedores</title>
    <link rel="stylesheet" href="/Public/Css/Usuarios.css">
</head>
<body>
    <script src="/Public/Js/toolbar.jsx"></script>
    <header>
        <nav class="custom-navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="/View/Usuarios">Usuarios</a></li>
                <li class="nav-item active"><a href="/View/Proveedores">Proveedores</a></li>
                <li class="nav-item"><a href="#">Ventas</a></li>
                <li class="nav-item"><a href="#">Inventario</a></li>
                <li class="nav-item"><a href="#">Promociones</a></li>  
                <li class="nav-item"><a href="#">Clientes</a></li>  
                <li class="nav-item"><a href="#">Métricas</a></li>  
            </ul>
        </nav>
    </header>

    <div class="Main-Container">
        <div class="Tools_Container">
            <div class="Search_Container">
                <input type="text" placeholder="Buscar Proveedor">
                <i class="bi bi-search search-icon"></i>
            </div>
            <button class="button_add" data-bs-toggle="modal" data-bs-target="#AddModal"><i class="bi bi-plus-lg"></i></button> 
        </div> 

        <div class="Table-Wrapper">
            <table class="table table-bordered Custom-Table">
                <thead>
                    <tr>
                        <th>Nombre del contacto</th>
                        <th>Nombre </th>
                        <th>Telefono</th>
                        <th>RFC</th>
                        <th>Acciones</th> </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan Pérez</td> 
                        <td>Proveedor 1</td>
                        <td>555-1234</td>
                        <td>123456789</td>
                        <td class="Action-Buttons">
                            <button class="button_edit"><i class="bi bi-pencil-square"></i></button>
                            <button class="button_delete"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="Action-Buttons">
                            <button class="button_edit"><i class="bi bi-pencil-square"></i></button>
                            <button class="button_delete"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="Action-Buttons">
                            <button class="button_edit"><i class="bi bi-pencil-square"></i></button>
                            <button class="button_delete"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="Action-Buttons">
                            <button class="button_edit"><i class="bi bi-pencil-square"></i></button>
                            <button class="button_delete"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content Custom-Modal-Style"> 
            <div class="modal-body">
                <h2 class="text-center mb-4">Agregar Proveedor</h2>
                
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre del contacto</label>
                        <input type="text" class="form-control" id="name" placeholder="Ej. Juan Pérez">
                    </div>

                    <div class="row mb-4">
                        <div class="col-8">
                            <label for="company" class="form-label">Empresa</label>
                            <input type="text" class="form-control" id="company">
                        </div>
                        <div class="col-4">
                            <label for="phone" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="phone">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="rfc" class="form-label">RFC</label>
                            <input type="text" class="form-control" id="rfc">
                        </div >
                        <div class="col-6">
                            <label for="address" class="form-label">Dirección Fiscal</label>
                            <input type="text" class="form-control" id="address">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <button type="submit" class="btn btn-primary">Guardar Usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>